{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Prescription Analytics - MediCare{% endblock %}
{% block active_admin_prescriptions %}active{% endblock %}

{% block header_title %}Prescription Analytics{% endblock %}
{% block header_subtitle %}Overview of all prescribed medications{% endblock %}

{% block content %}
<div class="section">
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Medicines</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pres in prescriptions %}
                <tr>
                    <td>{{ pres.patient.user.username }}</td>
                    <td>Dr. {{ pres.doctor.user.username }}</td>
                    <td>{{ pres.medicines|truncatechars:50 }}</td>
                    <td>{{ pres.prescribed_date|date:"M d, Y" }}</td>
                    <td>
                        <a href="{% url 'export_prescription_pdf' pres.id %}" class="btn-small">View PDF</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="no-data">No prescriptions found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
